h1{font-family: 'Sansita Swashed', cursive;
margin-top: 50px;
font-size: 100px;
}
body{
  background: url("https://www.wallpapertip.com/wmimgs/51-517054_whatsapp-background-images-hd.jpg");
  text-align: center;
}

img{
  margin-top: 350px;
width: 150px;
height: 150px;
}
